<h3>Cart</h3>

<P>
    <a routerLink="/shipping">Shipping Price</a>
</P>

<div class="cart-item" *ngFor="let item of items">
    <span>{{item.name}}</span>
    <span>{{item.price | currency}}</span>
</div>

<!-- use an 'ngSubmit' event binding to listen for the form submission and call the onSubmit() method with the checkoutForm value -->
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <!-- add <input> fields for name and address, each with a formControlName attribute that binds to the checkoutForm form controls -->
    <div>
        <label for="name">
            Name
        </label>
        <input id="name" type="text" formControlName="name">
    </div>

    <div>
        <label for="adress">
            Address
        </label>
        <input id="address" type="text" formControlName="address">
    </div>

    <button class="button" type="submit">
        Purchase
    </button>
</form>